<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
      Manage Labels
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel(labelsForm)" color="medium">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<form #labelsForm="ngForm" (ngSubmit)="save(labelsForm)" (keyup.enter)="save(labelsForm)" class="content">

  <div class="fields">
    <ng-container *ngFor="let label of labels; let i = index">

      <ion-item class="input-field no-background">
        <ion-label position="fixed" class="label-placeholder">Label:</ion-label>
        <ion-input #labelInput [name]="label.id" required [(ngModel)]="label.title" clearInput></ion-input>
        <ion-icon name="trash-outline" slot="end" (click)="delete(label)" class="clickable"></ion-icon>
      </ion-item>
      <span [class.hidden]="labelsForm.controls[label.id]?.valid" class="input-error-message">Required</span>
    </ng-container>

    <ion-item lines="none" class="no-background">
      <ion-button fill="clear" (click)="add()" color="secondary">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>New Label</ion-label>
      </ion-button>
    </ion-item>
  </div>
  <div class="buttons-container">
    <ion-button (click)="cancel(labelsForm)" fill="outline" color="medium">Cancel</ion-button>
    <ion-button type="submit" fill="outline" color="secondary">Save</ion-button>
  </div>
</form>
