.content{
    margin: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: auto;

    .fields{
        overflow: auto;
        flex: auto;

        .input-field{
            --padding-start: 0;

            .label-placeholder{
                width: 50px;
                flex: inherit;
                min-width: 50px;
            }
        }
    }
    
    .buttons-container{
        display: grid;
        margin-top: 10px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}