<ion-header>
  <ion-toolbar>
    <ion-title>
      Address Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="table-container">
    <table class="contacts-table" mat-table [dataSource]="addressBookService.sortedContacts" fixedLayout=true>

    <ng-container matColumnDef="name">
      <th class="column header" mat-header-cell *matHeaderCellDef>Name</th>
      <td class="column" mat-cell *matCellDef="let contact">{{ contact.name }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th class="column header" mat-header-cell *matHeaderCellDef>Address</th>
      <td class="column" mat-cell *matCellDef="let contact">
        <a [href]="contact.address | mapLink" target="_black" (click)="stopProp($event)">{{ contact.address }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th class="column header" mat-header-cell *matHeaderCellDef>Email</th>
      <td class="column" mat-cell *matCellDef="let contact">
        <a [href]="'mailto:'+contact.email" (click)="stopProp($event)">{{ contact.email }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th class="column header" mat-header-cell *matHeaderCellDef>Phone</th>
      <td class="column" mat-cell *matCellDef="let contact">{{ contact.phone | phone }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let contact; columns: displayedColumns;" class="clickable" (click)="viewContact(contact)"></tr>
  </table>
</div>

<ion-fab vertical="top" horizontal="end" slot="fixed" edge=true>
  <ion-fab-button size="small" color="secondary" (click)="createContact()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>