<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md">
      Address Book - {{addressBookService.selectedFilterType || addressBookService.selectedLabel.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Search" [(ngModel)]="filterText" (ionChange)="applyFilter()"></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="table-container">

    <table class="contacts-table" mat-table matSort matSortActive="name" matSortDirection="asc"
      [dataSource]="dataSource" fixedLayout=true>

      <ng-container matColumnDef="image">
        <th class="column header img-column" mat-header-cell *matHeaderCellDef></th>
        <td class="column" mat-cell *matCellDef="let contact">
          <img [src]="contact.img" *ngIf="contact.img; else imgIcon" class="contact-img">
          <ng-template #imgIcon>
            <ion-icon name="person-circle-outline" class="img-icon"></ion-icon>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="column header" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="column" mat-cell *matCellDef="let contact">{{ contact.name }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th class="column header" mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td class="column" mat-cell *matCellDef="let contact">
          <a [href]="contact.address | mapLink" target="_black" (click)="stopProp($event)">{{ contact.address }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="column header" mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td class="column" mat-cell *matCellDef="let contact">
          <a [href]="'mailto:'+contact.email" (click)="stopProp($event)">{{ contact.email }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th class="column header" mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td class="column" mat-cell *matCellDef="let contact">
          <ng-container *ngIf="!platformService.isMobileDevice; else phoneWithLinks">{{ contact.phone | phone }}
          </ng-container>
          <ng-template #phoneWithLinks>
            <a (click)="platformService.openPhoneOptions(contact,$event)">{{ contact.phone | phone }}</a>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th class="column header" mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
        <td class="column" mat-cell *matCellDef="let contact">
          <ion-icon class="note-icon" [name]="'reader' + (contact.note ? '' : '-outline')" (click)="showContactNote(contact.note,$event)"></ion-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let contact; columns: displayedColumns;" class="clickable" (click)="viewContact(contact)">
      </tr>
    </table>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge=true>
    <ion-fab-button size="small" color="secondary" (click)="createContact()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>