<ion-menu side="start" type="overlay" menuId="menu" contentId="main" class="page-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title mode="md">Categories</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item class="clickable" (click)="filterContacts('all')">
        <ion-icon name="person-circle-outline" slot="start" [color]=" addressBookService.selectedFilterType === 'all' ? 'secondary' : ''"></ion-icon>
        <ion-label class="space-between" [color]=" addressBookService.selectedFilterType === 'all' ? 'secondary' : ''">
          <span>Contacts</span>
          <span>({{addressBookService.contacts.length}})</span>
        </ion-label>
      </ion-item>
      <ion-item class="clickable" (click)="filterContacts('favorites')">
        <ion-icon name="star" slot="start" [color]=" addressBookService.selectedFilterType === 'favorites' ? 'secondary' : ''"></ion-icon>
        <ion-label class="space-between" [color]=" addressBookService.selectedFilterType === 'favorites' ? 'secondary' : ''">
          <span>Favorites</span>
          <span>({{addressBookService.favoritesCount}})</span>
        </ion-label>
      </ion-item>

      <mat-divider></mat-divider>

      <ion-item>
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-label>Labels</ion-label>
        <ion-button fill="clear" (click)="manageLabels()" color="dark" size="small" slot="end" class="edit-labels-icon">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item class="clickable" *ngFor="let label of addressBookService.labels" [class.active]="addressBookService.selectedLabel?.id === label.id" (click)="filterContacts(null ,label)">
        <ion-label class="space-between" [color]="addressBookService.selectedLabel?.id === label.id ? 'secondary' : ''">
          <span>{{label.title}}</span>
          <span>({{label.count}})</span>
        </ion-label>
      </ion-item>
      
      <mat-divider></mat-divider>
      
      <ion-button expand="block" fill="clear" (click)="showAboutInfo()" color="medium">About</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>