<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
      {{edit ? 'Edit ' : 'Add '}} {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="delete()" color="danger" size="small" *ngIf="edit">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="cancel(contactForm)" color="medium" size="small">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<form #contactForm="ngForm" (ngSubmit)="save(contactForm)" (keyup.enter)="save(contactForm)" class="content">
  <ion-content>
    <app-img-loader [(image)]="contact.img" canEdit=true></app-img-loader>
    <ion-item class="input-field bottom-margin">
      <ion-label position="floating">Name</ion-label>
      <ion-input name="name" [(ngModel)]="contact.name" clearInput></ion-input>
    </ion-item>
    <ion-item class="input-field bottom-margin">
      <ion-label position="floating">Address</ion-label>
      <ion-input name="address" [(ngModel)]="contact.address" clearInput></ion-input>
    </ion-item>
    <ion-item class="input-field">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="contact.email" name="email" email clearInput></ion-input>
    </ion-item>
    <span [class.hidden]="contactForm.controls.email?.valid" class="input-error-message">Invalid email format</span>
    <ion-item class="input-field bottom-margin">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="number" name="phone" [(ngModel)]="contact.phone" clearInput></ion-input>
    </ion-item>
    <ion-item class="input-field bottom-margin">
      <ion-label position="floating">Note</ion-label>
      <ion-textarea name="note" [(ngModel)]="contact.note" clearInput></ion-textarea>
    </ion-item>
    <ion-item class="input-field bottom-margin">
      <ion-label class="ion-text-wrap">
        <div>Labels</div>
        <div>
          <ion-chip *ngFor="let label of contactLabels" class="label-chip">
            <ion-label>{{label.title}}</ion-label>
            <ion-icon name="close" class="close-icon" (click)="removeLabel(label)"></ion-icon>
          </ion-chip>
          <ion-button fill="clear" (click)="addLabel($event)" color="secondary" size="small">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-content>
  <div class="buttons-container">
    <ion-button class="action-button" slot="end" (click)="cancel(contactForm)" color="light">Cancel</ion-button>
    <ion-button class="action-button left-margin" slot="end" type="submit" color="secondary" [disabled]="emptyForm(contactForm)">Save</ion-button>
  </div>
</form>