.content{
    margin: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    flex: auto;

    .input-field{
        --padding-start: 0;
        --background: transparent;

        .bottom-margin{
            margin-bottom: 14px;
        }
    }

    .label-chip{
        cursor: auto;
        background: var(--ion-color-light-tint);

        .close-icon{
            cursor: pointer;
        }
    }

    .buttons-container{
        display: flex;
        margin-top: 10px;

        .action-button{
            flex: auto;
        }
    }

    .left-margin{
        margin-left: 20px;
    }

}